  
  .red-text {
    color: red !important; /* Cambia el color del texto a rojo */
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 8px; /* Opcional: agrega espacio entre los botones */
  }

  :host {
    display: flex;
  }

  .full-width {
    width: 100%;
  }
  
  .text-right {
    text-align: right;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
 
